//=========
//首页
//=========
.namelist > div[class^="col-"]{padding-top:5px;padding-bottom:5px;}
.show-login{display:block;opacity:1;}
.modal.show-login .modal-dialog{transform:translate(0,0)}

//=========
//项目分配
//=========
.item-list {
    padding: 15px;
    border: 2px solid #ddd;
    background-color: $gray-lighter;
    font-size: 18px;
    h2{margin-top:5px;margin-bottom:20px;}
    p {
        display: inline-block;
        position: relative;
        margin: 5px;
        padding: 1px;
        width: 220px;
        font-size: 14px;
        border: 1px solid $warning;
        &.active {
            z-index: 10;
        }
    }
    strong {
        display: inline-block;
        margin-right: 10px;
        padding: 5px;
        width: 55px;
        background-color: $warning;
        color: #fff;
    }
    .helped {
        background-color: #999;
    }
    .helper {
        color: $warning;
    }
}


//按钮样式
.btn-change {
    position: absolute;
    right: 0;
    top: 1px;
    bottom: 1px;
    padding: 7px;
    border-left: 1px solid $gray-lighter;
    &::before {
        content: '';
        display: inline-block;
        border: 5px solid $warning;
        border-color: $warning transparent transparent;
        border-width: 8px 3px 3px;
    }
    &:hover {
        background-color: lighten($success,33.5%);
        &::before {
            border-top-color: $success;
        }
    }
}

.active {
    .btn-change {
        background-color: #fff;
        border-left-color: $warning;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 20px;
            height: 5px;
            background-color: #fff;
        }
    }
}

.pop-left-list {
    position: absolute;
    z-index: 5;
    padding: 8px;
    border: 2px solid $warning;
    line-height: 1.8;
    background-color: #fff;
    width:160px;
    max-height: 260px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    li {
        padding: 0 8px;
        border-bottom: 1px dotted $gray-lighter;
        &:hover {
            background-color: $gray-lighter;
        }
    }
}

.left-list {
    p {
        padding: 5px;
        width: 160px;
        border-color: $success;
        background-color: lighten($success,33.5%);
    }
}

#qty {
    width: 60px;
}

// ===========
// 作业抽查
// ============
.selected{margin:10px 0;padding:15px;border:2px solid #ddd;background-color:$gray-lighter;font-size:18px;}
.check-result{
    h2{margin-top:0;font-size:24px;}
    strong{position:relative;display:inline-block;padding:5px 10px;background-color:$warning;color:#fff;margin:5px;text-align:center;font-weight:normal;}
    .helped{background-color:#999;}
    p{font-size:14px;}
    .helper{color:$warning;}
    .player{background-color: $danger}
}
.undetermined{
    @extend .selected;
    background-color:lighten($success,33.5%);

    strong{background-color:$info;}
    button.active{font-weight:bold;}
}
#num{width:60px;}
.info{color:#666;}
.sm{position:fixed;left:0;bottom:0;right:0;text-align:center;font-size:10px;color:#999;}


//============
//随机点名
//============
.rollcall{
    padding:0 10%;
    .init {
        position:relative;
        text-align: center;
        span {
            display: inline-block;
            width: 80px;
            height:80px;
            line-height:72px;
            overflow:hidden;
            i{position:absolute;left:30px;bottom:10px;}
        }
    }
    .blood-left{position:absolute;left:80px;top:50%;margin-top:-4px;width:38%;
        div{height:8px;background:$danger;transition:.5s;}
    }
    .blood-right{
        left:auto;right:80px;
        @extend .blood-left;
        div{position:absolute;right:0;top:0;background:$primary;}
    }
    .pname-left {
        position:absolute;left:0;top:0;z-index:10;
        background:radial-gradient(at 20px 20px,$gray-lighter,lighten($black,81%),lighten($black,87.5%));
        border-radius:50%;
        border:4px solid $danger;transition:.5s;
        color:#666;text-shadow:1px 1px $gray-lighter;font-size: 20px;
        transition:transform 1s;
    }
    .pname-right{
        @extend .pname-left;
        left:auto;right:0;border-color:$primary;
    }
    .vs {color:$danger;font-size:38px;}

    .pkcontent {
        font-size: 16px;
        margin: 20px 10%;
        em{display:inline-block;padding:0 5px;color:$danger}
        .over{color:$danger;font-weight:bold;}
    }
    .winner{transform:scale(2);animation:win .5s infinite;}
}

@keyframes win{
    0%{box-shadow:0 0 10px rgba(255,0,0,1);font-weight:bold;}
    100%{box-shadow:0 0 10px rgba(255,255,0,1);color:$danger;}
}


// ============
// 设置
// ===========
.removing:hover{
    .glyphicon-remove{color:$danger}
}