<div class="homePage">
	<div class="content">
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			<input type="text" ng-model="query" class="form-control">
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in datalist | filter:query" ng-class="{odd:$odd}">
				<a ng-href="#/goods/{{item.id}}"><img ng-src="{{item.imgurl}}" class="img-thumbnail" style="width:10rem;"></a>
				<p>{{item.title}}</p>
				<p>价格：<del>{{item.cost | currency:'￥'}}</del>{{item.price | currency:'￥'}}</p>
			</li>
		</ul>
	</div>
</div>